@font-face {
	font-display: swap;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/resources/fonts/open-sans-v44-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('/resources/fonts/open-sans-v44-latin-700.woff2') format('woff2');
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgb(234 229 226 / 1);
	font-family: 'Open Sans', Inter, Arial, sans-serif;

	--link: rgb(225 39 71 / 1);
	--link-hover: oklch(from var(--link) calc(l - .1) c h);

	--radius-small: 4px;
	--radius-medium: 8px;

	--padding-small: 12px;
	--padding-medium: 20px;
	--padding-large: 32px;

	--margin-small: 1em;
	--margin-medium: min(2vw, 2em);
	--margin-large: 5vw;

	--border-color: #e5e7eb;
}

.site-header {
	background: rgba(255,255,255,0.92);
	border: 1px solid var(--border-color);
	border-top-width: 0;
	max-width: 1536px;
	margin: auto;

	.logo {
		font-size: min(4vw, 20px);
		font-weight: bold;
		text-decoration: none;
		color: currentColor;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	div {
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 32px;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
		box-sizing: border-box;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 2px;
		flex: 1;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: .9em;

		a {
			padding: .5em min(2vw, 1em);
			font-weight: bold;
			text-decoration: none;
			color: currentColor;
			border-radius: .625rem;
			display: inline-flex;

			&:hover {
				background: oklch(0.97 0 0);
			}
		}
	}
}

a[href^=http]:not(:has(img)) {

	&::after {
		content: "\2197";
		line-height: 1.1;
		text-decoration: none;
		margin-inline-start: .3em;
		transform: translateY(-.1em);
		display: inline-block;
	}
}

button,
.button {
	display: inline-flex;
	align-items: center;
	gap: var(--margin-small);
	padding: var(--padding-small) var(--padding-medium);
	border-radius: var(--radius-small);
	font-family: inherit;
	font-weight: 700;
	font-size: 1.1em;
	box-sizing: border-box;
	line-height: 1;
	border: 2px solid var(--link);
}

button {
	background: var(--link);
	color: white;

	&:hover {
		background: var(--link-hover);
	}
}

.button {
	color: var(--link);

	&:hover {
		color: var(--link-hover);
	}
}

main {
	background: linear-gradient(180deg, #FDF2F4 0%, #FFFFFF 280px);
	padding: 72px min(calc((1536px - 1200px) / 2), 7.5vw);
	border: 1px solid var(--border-color);
	border-top-width: 0;
	max-width: 1536px;
	margin: auto;
	box-sizing: border-box;
}

.pre-heading {
	text-transform: uppercase;
	color: var(--link);
	font-weight: bold;
	letter-spacing: .075em;
	margin-block-end: 0;
}

.pre-heading + h1 {
	margin-block-start: .25rem;
}

.intro {
	font-size: 1.2em;
	max-width: 40ch;
}

.summary {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--margin-medium);
	margin-block-end: var(--margin-medium);
}

.block {
	padding: var(--padding-medium);
	border: 1px solid var(--border-color);
	border-radius: var(--radius-medium);
	flex-grow: 1;
	width: 30ch;
	background: white;

	h2 {
		margin-block-start: 0;
	}

	& :last-child {
		margin-block-end: 0;
	}
}

.benefits ul {
	padding-inline-start: .5em;
	list-style: none;

	li {
		margin-block: 1em;
		display: flex;

		&:before {
			content: '✓';
			margin-right: .5em;
			color: darkgreen;
		}
	}
}

table, th, td {
	border-collapse: collapse;
}
th, td {
	padding: 5px;
	text-align: left;
}

.info {
	padding: var(--padding-small) var(--padding-medium);
	background: oklch(93.4% 0.021 232deg);
	border-radius: var(--radius-small);
	color: oklch(40.4% 0.051 232deg);
	font-size: .9em;
	text-align: center;
	font-weight: bold;
}

.demo-container {
	margin-block: var(--margin-medium);
	border: 1px solid var(--border-color);
	border-radius: var(--radius-medium);

	.info {
		margin-block: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.yivi-result,
.alert {
	padding: 1px var(--padding-medium);
	margin: var(--margin-small);
	border: 1px solid var(--border-color);

	&.error,
	&.alert-danger {
		background: lightpink;
	}
	&.ok,
	&.alert-warning {
		background: beige;
	}
	&.result,
	&.alert-success {
		background: aliceblue;
	}
}

details {
	border: 1px solid var(--border-color);
	border-radius: var(--radius-small);
	padding: var(--padding-small) var(--padding-medium);
	margin-block-end: var(--margin-small);
	max-width: 60ch;

	summary {
		border-radius: calc(var(--radius-small) - 1px);
		outline-offset: 3px;
		padding: var(--padding-small) var(--padding-medium);
		margin: calc(-1 * var(--padding-small)) calc(-1 * var(--padding-medium));
		font-weight: bold;

		&:hover {
			background: var(--border-color);
		}
	}

	&:open summary {
		margin-block-end: 0;
	}

	p:last-child {
		margin-block-end: .5em;
	}
}

.stores {
	list-style-type: none;
	display: flex;
	padding: 0;
	gap: .7em;
	margin-block-end: .5em;
	flex-wrap: wrap;

	img {
		height: 40px;
	}

	li {
		margin: 0;
	}

	a {
		display: block;
		line-height: 0;
		border-radius: 4px;
	}
}

div.yivi-web-form {
	box-shadow: none;
	background: none;
	min-height: unset;
	min-width: unset;
	height: auto;
	width: calc(100% - var(--margin-small) * 2);
	max-width: 22em;
	border: 2px solid var(--link);
	border-radius: var(--radius-small);
	margin: var(--margin-small);

	.yivi-web-header {
		padding: var(--padding-medium);
		font-size: 1.2em;
		margin: 0;
		border-bottom: 2px solid var(--link);

		p {
			font-family: inherit;
			font-size: inherit;
			color: CanvasText;

			i.yivi-web-logo {
				font-size: inherit;
				height: 1.2em;
				width: unset;
				aspect-ratio: 1.796875 / 1;
			}
		}

		.yivi-web-helper {
			display: none;
		}
	}

	.yivi-web-content {
		padding: 1em;
		margin: 0;
		line-height: 0;
		background: none;

		p {
			font-family: inherit;
			font-size: inherit;
			color: CanvasText;
		}

		.yivi-web-loading-animation {
			margin-block-start: 1em;

			i {
				background: oklch(from CanvasText l c h / calc(alpha - 0.5));
			}
		}

		.yivi-web-centered {
			max-width: 100%;
			aspect-ratio: 1 / 1;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}

		a:not(.yivi-web-button) {
			color: var(--link);
			font-family: inherit;
			font-size: inherit;

			&:hover {
				color: var(--link-hover);
			}
		}

		.yivi-web-button {
			font-family: inherit;
			font-weight: inherit;
			font-size: inherit;
		}

		.yivi-web-button-link {
			display: block;
			margin-block-start: 1em;
			font-weight: bold;
			color: white;
		}

		&:has(svg) {
			aspect-ratio: 1 / 1;
		}

		svg {
			border-radius: var(--radius-small);
			border: 1em solid white;
			box-sizing: border-box;
		}

		&:has(p) {
			line-height: 1;
		}
	}
}

pre {
	&:has(code) {
		padding: 1em;
		border-bottom-left-radius: var(--radius-small);
		border-bottom-right-radius: var(--radius-small);
		border: 1px solid currentColor;
		margin-block-start: 0;
		background: oklch(from currentColor l c h / calc(alpha - .95));
		overflow-x: auto;
	}
}

p:has(+ pre) {
	padding: .6em 1em;
	font-weight: bold;
	border-top-left-radius: var(--radius-small);
	border-top-right-radius: var(--radius-small);
	border: 1px solid currentColor;
	border-bottom-width: 0;
	margin-block-end: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		font-size: .9em;
		padding: 8px 12px;
	}
}

.demo-nav {
	border-style: solid;
	border-color: var(--border-color);
	border-width: 1px 0 0 0;
}

@media (min-width: 1000px) {
	main {
		display: flex;
		gap: 50px;
	}
	section {
		flex-grow: 1;
	}
	.demo-nav {
		border-width: 0 1px 0 0;
		padding-right: 50px;
		order: -1;
		width: max-content;

		ul, li {
			width: max-content;
		}
	}
}

.demo-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-block: 1em;
	}

	.active {
		font-weight: bold;
	}
}